@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  letter-spacing: 0.15rem;
  line-height: 1.4;
  font-family: "Kaisei HarunoUmi", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 1.2rem 2.4rem;
  text-align: center;
}

.btn-cta {
  background-color: #10c98f;
}

.new-color {
  background-color: #26be9f;
}

.fixed {
  position: sticky;
  top: 0;
}

/* -------------- HEADER SECTION ------------------------- */

.navigation {
  transition: all .7s;
}

.hero {
  background-color: #4cbdb5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo p {
  color: white;
}

.ph-house-line-fill {
  margin-right: 1rem;
  color: #00f6a9;
  font-size: 3.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: 32rem;
}

nav ul li {
  padding: 2rem 2rem;
}

nav ul li a {
  font-weight: 600;
}

nav ul li {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
}

nav ul li:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 20rem;
  margin-top: 2rem;
  background-color: #fff;
}

.dropdown-content {
  display: none;
  padding: 1.3rem;
}

.dropdown-content a {
  color: black;
  margin-top: 1rem;
  transition: all 0.3s;
}

.dropdown-content a:hover {
  color: #26be9f;
  transform: translateX(7px);
}

.hero-content {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-1 {
  margin-right: 50rem;
  color: #fff;
  /* background-color: red; */
}

.content-1 h1 {
  font-size: 5rem;
  font-weight: bolder;
}

.content-1 p {
  font-size: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.btn-services {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  border: 1px solid white;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-services:hover {
  background-color: #00f6a9;
  border: 0;
  color: white;
}

.hidden {
  display: none;
}
