@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  letter-spacing: 0.15rem;
  line-height: 1.4;
  font-family: "Kaisei HarunoUmi", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
}

.btn-cta {
  background-color: #10c98f;
}

.new-color {
  background-color: #26be9f;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

/* -------------- HEADER SECTION ------------------------- */

.navigation {
  transition: all 0.7s;
  padding-top: 1rem 1rem;
}

.hero {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("/img/hero-bg-1.jfif") no-repeat center/cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo p {
  color: white;
}

.ph-house-line-fill {
  margin-right: 1rem;
  color: #00f6a9;
  font-size: 3.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: 32rem;
}

nav ul li {
  padding: 2rem 2rem;
}

nav ul li a {
  font-weight: 600;
}

nav ul li {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
}

nav ul li:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 20rem;
  margin-top: 2rem;
  background-color: #fff;
}

.dropdown-content {
  display: none;
  padding: 1.3rem;
}

.dropdown-content a {
  color: black;
  margin-top: 1rem;
  transition: all 0.3s;
}

.dropdown-content a:hover {
  color: #26be9f;
  transform: translateX(7px);
}

.hero-content {
  height: 91vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-1 {
  margin-right: 50rem;
  color: #fff;
  /* background-color: red; */
}

.content-1 h1 {
  font-size: 5rem;
  font-weight: bolder;
}

.content-1 p {
  font-size: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.btn-services {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  border: 1px solid white;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-services:hover {
  background-color: #10c98f;
  border: 0;
  color: white;
}

.hidden {
  display: none;
}

/* -------------- SOLUTIONS SECTION ------------------------- */
.solutions {
  margin-top: 8rem;
}

.solutions p {
  color: #6d6d6d;
}

.solution-heading {
  font-size: 3.8rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  padding: 2rem;
}

.solution-heading::before {
  content: "";
  position: absolute;
  left: 70rem;
  bottom: 0;
  height: 0.35rem;
  width: 12rem;
  background-color: #26be9f;
}

.solution-sub-heading {
  margin-top: 2rem;
  font-size: 1.7rem;
  text-align: center;
}

.solutions-flex {
  display: flex;
  justify-content: flex-start;
  gap: 10rem;
  margin-top: 7rem;
  margin-bottom: 10rem;
}

.solution h3 {
  transition: all 0.4s;
}

.solution i {
  font-size: 7.5rem;
  color: #10c98f;
}

.solution-tag {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.solution h3 {
  font-size: 2.2rem;
  margin-top: 1rem;
  color: #0f4332;
}

.solution-text {
  font-size: 1.6rem;
  margin-top: 1.5rem;
  text-align: start;
}

.solution:hover h3 {
  color: #26be9f;
}

.sol {
  display: flex;
  justify-content: space-between;
  padding: 10rem;
  background-color: #E4F1ED;
  gap: 25rem;
}

.col-1 {
  position: relative;
}

.sol-img {
  height: 500px;
  width: 550px;
  object-fit: cover;
}

.sol-img-overlay {
  background-color: #10c98f;
  position: absolute;
  bottom: -8rem;
  right: -10rem;
  height: 20rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.sol-img-overlay h3 {
  font-size: 5rem;
  font-weight: 900;
}

.sol-img-overlay h5 {
  font-size: 1.25rem;
  margin-top: .5rem;
}

.sol-btn {
  color: #10c98f;
  font-size: 1.5rem;
  border: 1.8px solid #10c98f;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
  padding: 1.75rem 3.75rem;
}

.col-2 ul {
  margin-bottom: 5rem;
}

.sol-btn:hover {
  background-color: #10c98f;
  border: 0;
  color: white;
}
